parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Action.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Column.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:\\$from\\.$#"
			count: 1
			path: src/Component.php

		-
			message: "#^Access to an undefined property TomShaw\\\\ElectricGrid\\\\Component\\:\\:\\$builder\\.$#"
			count: 1
			path: src/Component.php

		-
			message: "#^Access to an undefined property TomShaw\\\\ElectricGrid\\\\Component\\:\\:\\$columns\\.$#"
			count: 2
			path: src/Component.php

		-
			message: "#^Method TomShaw\\\\ElectricGrid\\\\Component\\:\\:export\\(\\) should return Illuminate\\\\Http\\\\Response\\|Symfony\\\\Component\\\\HttpFoundation\\\\BinaryFileResponse but returns Symfony\\\\Component\\\\HttpFoundation\\\\Response\\.$#"
			count: 1
			path: src/Component.php

		-
			message: "#^Instanceof between Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\Relation and Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphTo will always evaluate to false\\.$#"
			count: 1
			path: src/DataSource.php

		-
			message: "#^Instanceof between Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\Relation and Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphToMany will always evaluate to false\\.$#"
			count: 1
			path: src/DataSource.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/DuplicateActionsHandler.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/InvalidDateFormatHandler.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/InvalidDateTypeHandler.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/InvalidFilterHandler.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/InvalidModelRelationsHandler.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/RequiredColumnsHandler.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/RequiredMethodHandler.php
